#formulario {
    width: 80%;
    height: 350px !important;
    min-width: 300px;
    max-width: 600px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    border: 0.5px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: height 0.2s ease;
  }
  #espaco{
    padding: 30px;
  }
  
  .media-input {
    padding-top: 10px;
  }
  
  .titulo {
    padding: 10px;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    background-color: green;
  }
  
  #conteudo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    height: 100%;
  }
  
  #esquerda {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
  }
  
  #esquerda p {
    margin: 5px 0;
    flex-grow: 1;
  }
  
  #aviso {
    background-color: rgb(255, 249, 215);
    height: 100%;
    width: 100% !important;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    padding: 10px; /* Adicione um espaçamento interno */
    #media3{
        padding-top: 5px;

        width: auto;
    }
    #mostra_media2{
        padding-top: 5px;

        font-size: 18px;
    }
    #status{
        padding-top: 5px;
    }
  }
  
  #media3 {
    width: 100%;
  }
  
  #form_media {
    padding: 10px;
    width: 100%;
    height: 100%;
  }
  #nota_necessaria{
    
  }
  #menor_nota{
    padding-top: 5px;
  }
  #continuacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  @media (max-width: 740px) {
    #formulario {
        width: 80%;
        height: auto !important;
        min-width: 300px;
        max-width: 600px;
        margin: 0 auto;
        font-family: Arial, sans-serif;
        border: 0.5px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: height 0.2s ease;
      }
    #aviso {
        background-color: rgb(255, 249, 215);
        height: auto;
        width: auto !important;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
        padding: 0px; /* Adicione um espaçamento interno */
        #media3{
            padding-top: 5px;
    
            width: auto;
        }
        #mostra_media{
            padding-top: 5px;
    
            font-size: 18px;
        }
        #status{
            padding-top: 5px;
        }
      }
      #espaco{
        padding: 0px;
      }
  }