// navbar.scss
#navbar {
    padding: 0px !important;
    width: 100% !important;
    .linha-horizontal {
        padding-left: 50px;
        width: 100%;
        border-bottom: 1px solid #000;
        /* Outras propriedades de estilo aqui */
      }
  }
  
  .linha-horizontal {
    width: 100% !important;
    /* Outras propriedades de estilo aqui */
  }
  
#logo{
    width: 200px;
    height: 70px;
    padding: 10px;
}
@media (max-width: 600px) {
    #fake-content{
        display: none;
    }
}

@media (max-width: 530px) {
    #logo{
        width: 150px;
        height: 70px;
    }
}