#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 10%;

    padding: 2%;
    color: var(--text);
    background-color: var(--primary);
    
    #signout-button{
        cursor: pointer;
    }
}
#espaco{
    padding-bottom: 10px;
}

@media (max-width: 600px) {
    #fake-content{
        display: none;
    }
}

@media (max-width: 530px) {
    h1{
        font-size: 18px;
    }
}